@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');

:root {
  --mukta: 'Mukta', sans-serif;
  --navbuttons: linear-gradient(180deg, #6fb4fd 0%, #5caafc 100%);
  --white: #fff;
  --black: #000;
  --black-faded: #233142;
  --vanilla: #f3e5ab;
  --brickblue: #b2c9d8;
  --bluehover: #ccdfeb;
  --brickred: #f95959;
  --lightgray: #e3e3e3;
  --charcoal: rgba(50, 48, 48, 0.304);
  --salmon: rgba(250, 128, 114, 1);
  --salmonlgt: rgba(250, 128, 114, 0.6);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

html {
  font-family: var(--mukta);
}

.content {
  height: 100vh;
}

button {
  padding: 1em;
  color: var(--white);
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  background-color: var(--brickblue);
}

/* Navbar */
.nav-container {
  background-color: var(--salmon);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5vh;
  padding: 1em;
}

.brand > h3 {
  color: #fff;
}

/* Lower container */
.lower-container {
  display: flex;
  /* width: 100vw; */
  height: 95vh;
}

/* Sidebar */
.sidebar-container {
  background-color: var(--lightgray);
  padding: 1em;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.header {
  display: flex;
  justify-content: center;
}

a {
  display: flex;
  align-items: start;
  text-decoration: none;
  color: var(--brickred);
  background-color: var(--vanilla);
  margin: 0.5em;
  border: none;
  cursor: pointer;
  width: calc(100% - 10px);
  padding: 0.75em;
  font-size: 1rem;
  border-radius: 5px;
  transition: 0.8s;
  border: 1px solid var(--lightgray);
}

a.active {
  background-color: var(--brickred);
  color: var(--vanilla);
}

a:hover {
  border: 1px solid var(--brickred);
}

.show-project-cont {
  margin-left: 0.5em;
  cursor: pointer;
}

/* .project-form-container {
  margin: 1em;
}

.project-form {
  display: flex;
  flex-direction: column;
}

.name {
  margin: 0.5em;
  border-radius: 5px;
}

.button-container__projects {
  display: flex;
} */

/* Todos */
.todos-container {
  background: #ccdfeb;
  padding: 1em;
  display: flex;
  flex-direction: column;
  flex: 4;
}

.todo-container {
  display: flex;
  padding: 1em;
  margin: 1em;
  gap: 1.5em;
  justify-content: space-evenly;
  align-items: center;
  background-color: #fff;
}

.addtodo-container {
  display: flex;
  visibility: hidden;
  flex-direction: column;
  align-items: stretch;
}

/* Modal */
.edit-modal, .add-modal, .project-form-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  background: rgba(0, 0, 0, 0.7);
}

.edit-modal.open, .add-modal.open, .project-form-container.open {
  display: flex;
}

.forms {
  padding: 3em;
  display: flex;
  flex-direction: column;
  line-height: 1.2;
  letter-spacing: 1px;
}

.form-row {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}

.form-row>label {
  font-size: 1rem;
  margin-bottom: .5em;
  margin-top: 1em;
  text-transform: capitalize;
}

input[type="text"], input[type="number"] {
  height: 3em;
  padding-left: .75em;
}

input[type="checkbox"] {
  height: 1.5em;
}

.modal-container {
  background-color: #fff;
  width: 90%;
  max-width: 450px;
  position: relative;
  border-radius: 5px;
}

.edit-modal.open .modal-container, .add-modal.open .modal-container, .project-form-container.open .modal-container {
  animation: move 0.8s ease-in-out;
}

@keyframes move {
  from {
    transform: translateY(-500px);
  }

  to {
    transform: translateY(0px);
  }
}

.button-container {
  margin-top: 1em;
}

.form-title {
  background-color: var(--brickblue);
  color: var(--white);
  /* margin-top: 1em; */
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 1em;
  text-align: center;
}

/* Addtional classes */
.flex {
  display: flex;
  justify-content: center;
}

/* Show hide */
.hidden {
  display: none;
  visibility: hidden;
  overflow: hidden;
}

.show {
  display: inherit;
  visibility: visible;
}

