@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

:root {
  --mont: "Montserrat", sans-serif;
  --navbuttons: linear-gradient(180deg, #6fb4fd 0%, #5caafc 100%);
  --brickblue: #b2c9d8;
  --bluehover: #ccdfeb;
  --brickred: #cb4154;
  --charcoal: rgba(50, 48, 48, 0.304);
  --salmon: rgba(250, 128, 114, 1);
  --salmonlgt: rgba(250, 128, 114, 0.6);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* background-color: hsl(0, 0%, 90%); */
  font-family: var(--mont);
}

.content {
  /* background-color: gray; */
  height: 100vh;
  /* width: 100vw; */
}

/* Navbar */
.nav-container {
  background-color: var(--salmon);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5vh;
  padding: 1em;
}

.brand > h3 {
  color: #fff;
}

/* Lower container */
.lower-container {
  display: flex;
  /* width: 100vw; */
  height: 95vh;
}

/* Sidebar */
.sidebar-container {
  background: #fff;
  padding: 1em;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.project-listitem {
  list-style-type: none;
}

.project-button {
  background-color: #fff;
  margin-left: 1em;
  border: none;
  cursor: pointer;
}

.project-button:hover {
  opacity: 0.7;
  background-color: var(--bluehover);
}

/* Todos */
.todos-container {
  background: #ccdfeb;
  padding: 1em;
  display: flex;
  flex-direction: column;
  flex: 6;
}

.todo-form {
  display: flex;
  flex-direction: column;
}
/* .todos-element {
  display: flex;
}

.todo-item {
  display: flex;
  padding: 1em;
  gap: 1.5em;
  justify-content:space-evenly;
  align-items: center;
  background-color: #fff;
} */

/* Added classes */
.flex {
  display: flex;
  justify-content: center;
}

/* Show hide */
.hidden {
  visibility: hidden;
  overflow: hidden;
}

.show {
  visibility: visible;
}