@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');

:root {
  --mukta: 'Mukta', sans-serif;
  --navbuttons: linear-gradient(180deg, #6fb4fd 0%, #5caafc 100%);
  /* Primary color palette */
  --white: #fff;
  --black: #000;
  --black-blur: #19222e;
  --black-faded: #233142;
  --charcoal: #455d7a;
  --coral: #f95959;
  --lightgray: #e3e3e3;
  /* Secondary palette */
  --vanilla: #f2ece4;
  --brickblue: #b2c9d8;
  --bluehover: #ccdfeb;
  --salmon: rgba(250, 128, 114, 1);
  --salmonlgt: rgba(250, 128, 114, 0.6);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

html {
  font-family: var(--mukta);
  text-transform: capitalize;
}

.content {
  height: 100vh;
  max-width: 100%;
}

button {
  padding: 1em;
  font-size: 1rem;
  border-radius: 2px;
  cursor: pointer;
  border-radius: 5px;
}

.title-text {
  font-size: 4em;
  color: white;
}

.add,
.edit {
  border: 2px solid var(--charcoal);
}

.cancel {
  border: 2px solid var(--salmon);
}

.add:hover,
.edit:hover {
  opacity: 0.7;
  color: var(--white);
  background-color: var(--charcoal);
}

.cancel:hover {
  opacity: 0.7;
  color: var(--white);
  background-color: var(--salmon);
}

/* Navbar */
.nav-container {
  background-color: var(--coral);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5vh;
  padding: 2em;
  color: var(--white);
}

.brand > h3 {
  color: var(--white);
}

.bi-list::before {
  font-size: 1.25em;
}

/* Sidebar */
.lower-container {
  display: flex;
  height: 90vh;
}

.sidebar-visible {
  background-color: var(--black-faded);
  padding: 1em;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.bi-x-circle::before {
  color: var(--vanilla);
}

.header {
  display: flex;
  justify-content: center;
  color: var(--white);
}

a {
  display: flex;
  align-items: start;
  text-decoration: none;
  color: var(--coral);
  background-color: var(--vanilla);
  margin: 0.5em;
  border: none;
  cursor: pointer;
  width: calc(100% - 10px);
  padding: 0.75em;
  font-size: 1rem;
  border-radius: 5px;
  transition: 0.8s;
  border: 1px solid var(--black-faded);
}

a.active {
  background-color: var(--coral);
  color: var(--vanilla);
}

a:hover {
  border: 1px solid var(--coral);
}

.bi-plus-circle-dotted::before {
  margin-right: 1em;
}

.show-project-cont {
  margin-left: 0.5em;
  cursor: pointer;
}

.home-menu {
  display: flex;
  justify-content: space-evenly;
  color: var(--vanilla);
}

.cal-icon,
.project-icon {
  margin-right: 1em;
}

.to-hide {
  visibility: hidden;
}

.projects-menu {
  display: flex;
  justify-content: space-evenly;
  color: var(--vanilla);
  margin-top: 1em;
}

.home-button {
  display: flex;
}

/* Todos */
.todos-container {
  background: var(--charcoal);
  display: flex;
  flex-direction: column;
  flex: 5;
}

.todo-container {
  display: flex;
  padding: 1em;
  margin: 1em;
  color: var(--white);
  justify-content: space-between;
  border: 1px solid var(--white);
  background-color: var(--black-faded);
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.todo-container:hover {
  opacity: 0.8;
}

.todos-message-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--vanilla);
  font-size: 1.5rem;
  padding: 0.25em;
  margin-bottom: 1em;
}

.delete-all {
  display: flex;
  justify-content: flex-end;
  color: var(--vanilla);
  font-size: 1.5rem;
}

.delete-all-msg {
  display: none;
  font-weight: bold;
}

.bi-radioactive {
  margin-right: 1em;
}

.bi:hover {
  cursor: pointer;
  opacity: 0.7;
}

.delete-all:hover .delete-all-msg {
  display: block;
}

.todo-container__left {
  display: flex;
}

.todo-container__right {
  display: flex;
  flex-direction: row-reverse;
}

.todo-duedate,
.bi {
  margin-left: 0.5em;
}

.addtodo-container {
  display: flex;
  visibility: hidden;
  flex-direction: column;
  align-items: stretch;
}

/* Modal */
.edit-modal,
.add-modal,
.project-form-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  background: rgba(0, 0, 0, 0.7);
}

.edit-modal.open,
.add-modal.open,
.project-form-container.open {
  display: flex;
}

textarea.editor {
  border: none;
  padding: 1em;
}

.forms {
  padding: 3em;
  display: flex;
  flex-direction: column;
  line-height: 1.2;
  letter-spacing: 1px;
  color: var(--black-faded);
  background-color: var(--vanilla);
  border-radius: 5px;
  z-index: 7;
}

.warning-message {
  color: var(--white);
  background-color: var(--salmon);
  padding: 1em;
  display: flex;
  justify-content: center;
}

.form-row {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}

.form-row > label {
  font-size: 1rem;
  margin-bottom: 0.5em;
  margin-top: 1em;
  text-transform: capitalize;
}

input[type='text'],
input[type='number'] {
  height: 3em;
  padding-left: 0.75em;
}

input[type='checkbox'] {
  height: 1.5em;
}

input[type='date'] {
  height: 3em;
  padding-left: 1em;
}

.modal-container {
  background-color: #fff;
  width: 90%;
  max-width: 450px;
  position: relative;
  border-radius: 10px;
  z-index: 100;
}

.edit-modal.open .modal-container,
.add-modal.open .modal-container,
.project-form-container.open .modal-container {
  animation: move 0.8s ease-in-out;
}

@keyframes move {
  from {
    transform: translateY(-500px);
  }

  to {
    transform: translateY(0px);
  }
}

.button-container {
  margin-top: 1em;
}

.form-title {
  background-color: var(--salmon);
  color: var(--white);
  /* margin-top: 1em; */
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 1em;
  text-align: center;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black-blur);
  color: var(--vanilla);
  height: 5vh;
}

/* Addtional classes */
.flex {
  display: flex;
  justify-content: center;
}

/* Show hide */
.hidden {
  display: none;
  visibility: hidden;
  overflow: hidden;
}

.show {
  display: inherit;
  visibility: visible;
}
@media screen and (min-width: 100px) {
  .todo-container {
    margin-left: 2em;
    width: 70%;
  }
}

@media screen and (max-width: 600px) {
  .editor {
    width: 225px;
  }

  .add,
  .cancel {
    font-size: 0.8rem;
  }

  h2 {
    font-size: 2rem;
  }

  .todos-container {
    padding: 1em;
  }

  .todo-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .lower-container {
    flex-direction: column;
    height: 100%;
  }

  .delete-all,
  .footer {
    display: none;
  }
}
